# This file specifies code ownership for the repository
# For more information see: https://docs.github.com/en/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/about-code-owners

# Default owners for everything in the repo
*       @KevinTCoughlin

# GitHub Actions workflow files
/.github/workflows/    @KevinTCoughlin

# Gradle files
*.gradle               @KevinTCoughlin
gradle.properties      @KevinTCoughlin