<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.kevintcoughlin.smodr"
    android:versionCode="15"
    android:versionName="1.4.6"
    xmlns:dist="http://schemas.android.com/apk/distribution">

    <dist:module dist:instant="true" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />

    <application
        android:name=".SmodrApplication"
        android:label="@string/app_name"
        android:icon="@drawable/icon"
        android:allowBackup="false"
        android:theme="@style/Theme.Smodr">

        <meta-data
            android:name="com.google.android.gms.ads.APPLICATION_ID"
            android:value="ca-app-pub-6967310132431626~6673311196" />

        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />

        <activity
            android:name=".views.activities.MainActivity"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:scheme="https"
                    android:host="www.smodcast.com"
                    android:pathPattern="/channel/smodcast" />
            </intent-filter>
        </activity>

        <service
            android:enabled="true"
            android:label="Playback Service"
            android:name=".services.MediaService" />

        <activity
            android:name="com.google.android.gms.ads.AdActivity"
            android:configChanges="keyboard|keyboardHidden|orientation|screenLayout|uiMode|screenSize|smallestScreenSize"
            android:theme="@android:style/Theme.Translucent" />
    </application>
</manifest>
